
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300&display=swap');
body{
    background:#00499e;  
}
.section{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  font-family:"Inter", sanserif;
  padding:30px;
}
.fcard{
  display:flex;
  flex-direction:column;
  width:290px;
  height:490px;
  background:#ffff;  
  border-radius:10px;
  margin:10px;  
}
img{
  height:290px;
  width:100%;  
  overflow:hidden;
  object-fit:cover;  
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  filter: drop-shadow(0px 4px 2px #aaaa);
}
.article{
  padding:22px;  
  text-align:justify;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
a{
  text-decoration:none;
}
.day{
  display:flex; 
  justify-content:space-between;
}

